.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;
  max-width: 1720px;
  grid-gap: 10px;
  margin-top: 100px;
}

.fullItem {
  grid-row: 1 / 2;
}

.splitRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  grid-gap: 10px; /* Adjust the gap as needed */
}

@media (max-width: 1024px) {
  .splitRow {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
