.main {
  display: flex;
  justify-content: center;
  background-color: #ebe8e2;
  /* align-items: center; */
}

.gridContainer {
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr;
  width: 100%;
  max-width: 1720px;
  grid-gap: 10px;
  margin-top: 100px;
  margin-bottom: 2rem;
}

.settingsRow {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, auto);
}

.fullItem {
  grid-row: 3 / 3;
  background-color: white;
  border: 0.2rem solid silver;
  border-radius: 0.5rem;
}

.splitRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  grid-gap: 10px; /* Adjust the gap as needed */
}

.splitItem {
  max-width: 30vw;
  min-height: 510px;
  background-color: white;
  border: 0.2rem solid silver;
  border-radius: 0.5rem;
  padding: 2rem;
}

@media (max-width: 1024px) {
  .splitRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .splitItem {
    min-width: 90vw;
  }
}
